/* Base Element overrides */
/*
*/

body {
  margin: 0;
  background-color: #282c34;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 300px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* App styles */
/*
*/

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #282c34;
  font-size: 3vh;
  text-align: center;
  justify-content: center;
  color: white;
}

.App-header {
  width: 100%;
  min-height: 64px;
}

.App-article {
  min-width: 32px;
}

.Index-svg {
  
}

/* Design System CSS */
/*
*/

p .surfr-h1 {
  font-size: 4vh;
}

.surfr-emoji {
  width: 100%;
  text-align: center;
  display: block;
}

.surfr-box-root {
  display: block;
  position: relative;
  border-radius: 10px;
  width: 64%;
  margin: 24px 24px 24px 24px;
  border: 1px solid white;
}

.surfr-box-content {
  margin: 24px 24px 24px 24px;
}

.surfr-link {
  font-size: 24 px;
  color: grey;
}

.surfr-nav-root {
  /* Do something with this? */
}

.surfr-nav-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.surfr-nav-trigger {
  font-size: 48px;
  margin-left: 24px;
}

.surfr-nav-title {
  font-size: 32px;
  margin-bottom: 32px;
}

.surfr-svg-root {
  display: block;
}

.surfr-svg-content {
  margin: 24px 24px 24px 24px;
}