/* Base Element overrides */
/*
*/

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 60px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* App styles */
/*
*/

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 64vh;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

/* Design System CSS */
/*
*/

p .surfr-h1 {
  font-size: 48 px;
}

.surfr-emoji {
  width: 100%;
  text-align: center;
}

.surfr-emoji::after {
  content: "\1F3C4"; /* 🏄 */
  font-size: 100px;
  display: block;
}

.surfr-box-root {
  position: relative;
  width: 50%;
  margin: 16px 16px 16px 16px;
  border: 1px solid white;
}

.surfr-box-content {
  margin: 16px 16px 16px 16px;
}

.surfr-link {
  font-size: 24 px;
  color: grey;
}